# Ignore all files
*
 
# But don't ignore directories
!*/

# Don't ignore .gitignore
!.gitignore

# Don't ignore README.md
!README.md

# But don't ignore .tex, .pdf, or image files
!*.tex
!*.sty
!*.pdf
!*.jpg
!*.png
!*.gif
!*.bmp
!*.svg